services:
  db:
    image: mariadb:10.6
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: dvwa
  dvwa:
    platform: linux/amd64
    image: vulnerables/web-dvwa
    depends_on:
      - db
    ports:
      - "8080:80"
    environment:
      PHPIDS_ENABLED: "0"
